@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader>
        TauriBlazorGallery
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" HorizontalGap="0" Width="100%">
        <NavMenu />
        <FluentBodyContent Class="body-content">
            <ErrorBoundary>
                <ChildContent>
                    <div class="content">
                        <FluentCard AreaRestricted="false" Style="overflow: auto;">
                            @Body

                            <FluentToastProvider />
                            <FluentDialogProvider />
                            <FluentTooltipProvider />
                            <FluentMessageBarProvider />
                            <FluentMenuProvider />
                        </FluentCard>
                    </div>
                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="blazor-error-boundary">@ex.Message</div>
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <a href="https://www.fluentui-blazor.net" target="_blank">Documentation and demos (Blazor)</a>
        <FluentSpacer />
        <a href="https://tauri.app" target="_blank">About Tauri</a>
    </FluentFooter>
</FluentLayout>
